.background1 {
  background-color: #3367d6;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
}
.background2 {
  display: flex;
  background-color: #2850a7;
  border-style: solid;
  border-color: #3367d6;
}

.background22 {
  background-color: #2850a7;
  border-color: #3367d6;
}
.background3 {
  background-color: #ececec;
  padding: 20px;
}
.background31 {
  background-color: #f8fafc;
  padding: 10px;
}
